@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";


:root { 
  font-family: "Inter", sans-serif;
}

@keyframes gradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes gradient-border {
  0%, 100% {
    border-color: #0ea5e9;
  }
  25% {
    border-color: #6366f1;
  }
  50% {
    border-color: #0ea5e9;
  }
  75% {
    border-color: #6366f1;
  }
}

@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(2px); }
  50% { transform: translateX(-2px); }
  75% { transform: translateX(2px); }
  100% { transform: translateX(0); }
}

.animate-shake {
  animation: shake 0.4s ease-in-out;
}




@keyframes aurora {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animate-aurora {
  animation: aurora 4s ease-in-out infinite;
  background-size: 200% 200%;
}